.card-title {
  margin-bottom: 0px !important;
}

.user-panel img {
  height: 2.1rem !important;
}

.e-title {
  background: #007bff linear-gradient(180deg, #268fff, #007bff) repeat-x !important;
  color: white;
  padding: 0px 10px 10px 10px;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
