<template>
  <div class="wrapper">
    <Navbar v-if="!isLoginPage" />
    <Sidebar v-if="!isLoginPage" />
    <router-view></router-view>
    <Footer v-if="!isLoginPage" />
  </div>
</template>

<script>
import Navbar from "../components/Navbar";
import Footer from "../components/Footer";
import Sidebar from "../components/Sidebar";
import Login from "../components/Login";
import { mapGetters } from "vuex";
export default {
  components: { Navbar, Footer, Sidebar, Login },
  mounted() {
    window.$("body").Layout();
    window.$('[data-widget="pushmenu"]').PushMenu();
    window.$('[data-widget="control-sidebar"]').ControlSidebar();
    window.$(".dropdown").Dropdown();
    window.$('ul[data-widget="treeview"]').overlayScrollbars();
    window.$('ul[data-widget="treeview"]').Treeview("init");
  },
  computed: {
    ...mapGetters({
      authenticated: "auth/authenticated",
    }),
    isLoginPage() {
      return this.$route.name === "login" || this.$route.name === "";
    },
  },
  mounted() {
    // console.log(this.$route.name);
    if (this.authenticated == false && this.$route.name != "" && this.$route.name != "login") {
      this.$router.replace({ name: "login" });
    }
  },
};
</script>
