<template>
    <footer class="main-footer">
        <div class="float-right d-none d-sm-inline">
            AdminLTE 3.0.5
        </div>
        <strong>
            Copyright © 2020 
            <a href="#" target="_blank" rel="noopener noreferrer">Lokajaya</a>.
        </strong> All rights reserved.
    </footer>
</template>