<template>
  <div class="login-page hold-transition">
    <div class="login-box shadow-lg p-3 mb-5 bg-white rounded">
      <div class="login-logo">
        <p><span class="e-title">e</span><b>-Bisys PERUMDAM</b></p>
      </div>
      <div class="card shadow-none rounded">
        <div class="card-body login-card-body bg-white border-0">
          <p class="login-box-msg">Masuk untuk memulai sesi Anda</p>

          <transition name="fade">
            <div v-if="failedLoginMessage.length > 0" class="callout callout-danger text-red">{{ failedLoginMessage }}</div>
          </transition>
          <form method="post" @submit.prevent="handleLogin">
            <div class="input-group mb-3">
              <input type="email" name="email" v-model="form.email" value="" placeholder="Email" class="form-control " required />
              <div class="input-group-append">
                <div class="input-group-text"><span class="fa fa-user"></span></div>
              </div>
            </div>

            <div class="input-group mb-3">
              <input :type="type" name="password" v-model="form.password" placeholder="Password" class="form-control" required />
              <div class="input-group-append">
                <div class="input-group-text" @click.prevent="togglePassword"><span class="fa" :class="showPassword == true ? 'fa-eye' : 'fa-eye-slash'"></span></div>
                <!-- <button type="button" class="btn btn-default" @click.prevent="togglePassword"><i class="fa" :class="showPassword == true ? 'fa-eye' : 'fa-eye-slash'"></i></button> -->
              </div>
            </div>

            <div class="row">
              <div class="col-12">
                <button type="submit" class="btn btn-block bg-gradient-primary" v-bind:disabled="isLoading == true" v-html="isLoading ? buttonLoadingLabel : buttonSignInLabel"></button>
              </div>
            </div>
          </form>

          <p class="mb-1 mt-2">
            <a href="#">Saya lupa kata sandi.</a>
          </p>
        </div>
        <!-- /.login-card-body -->
      </div>
    </div>
  </div>
</template>
<script>
import { mapActions } from "vuex";
import { mapGetters } from "vuex";
export default {
  data: function() {
    return {
      isLoading: false,
      showPassword: false,
      type: "password",
      buttonLoadingLabel: '<i class="fa fa-spinner fa-pulse"></i>',
      buttonSignInLabel: "Masuk",
      failedLoginMessage: "",
      form: {
        email: "",
        password: "",
      },
    };
  },
  methods: {
    ...mapActions({
      signIn: "auth/signIn",
    }),
    async handleLogin() {
      this.isLoading = true;
      await this.signIn(this.form).then((response) => {
        if (response != null) {
          if (response.status > 400) {
            this.failedLoginMessage = response.data.message;
            setInterval(() => {
              this.failedLoginMessage = "";
            }, 5000);
          }
        }
      });
      if (this.authenticated == true) {
        this.$router.replace({ name: "home" });
      }
      this.isLoading = false;
    },

    togglePassword() {
      this.showPassword = !this.showPassword;
      this.type = this.showPassword == false ? "password" : "text";
    },
  },
  mounted() {
    if (this.authenticated == true) {
      this.$router.replace({ name: "home" });
    }
  },
  computed: {
    ...mapGetters({
      authenticated: "auth/authenticated",
    }),
    isDisabled() {
      return !this.isLoading;
    },
  },
};
</script>
