<template>
  <nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#">
          <i class="fas fa-bars"></i>
        </a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="home" class="nav-link">Home</a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="#" class="nav-link">Contact</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <button class="btn btn-block btn-link text-red" :disabled="isLoading == true" @click.prevent="handleLogout" v-html="isLoading ? buttonLoading : buttonLabel">
          Keluar
        </button>
      </li>
    </ul>
  </nav>
</template>

<script>
import { mapActions } from "vuex";
export default {
  data() {
    return {
      isLoading: false,
      buttonLabel: "Keluar",
      buttonLoading: '<i class="fa fa-spinner fa-pulse"></i>',
    };
  },
  methods: {
    ...mapActions({
      signOut: "auth/signOut",
    }),
    async handleLogout() {
      this.isLoading = true;
      await this.signOut();
      this.isLoading = false;

      this.$router.replace({ name: "login" });
    },
  },
};
</script>
