<template>
  <aside class="main-sidebar sidebar-light-primary elevation-2">
    <a href="home" class="brand-link">
      <span class="brand-text font-weight-bold text-lg ml-5">AdminLTE3</span>
    </a>
    <div class="sidebar">
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img :src="'/images/cat.jpg'" width="400px" class="img-circle border" alt="User Image" />
        </div>
        <div class="info">
          <a href="#" target="_blank" class="d-block" rel="noopener noreferrer">{{ userFullName }}</a>
        </div>
      </div>
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column nav-child-indent" data-widget="treeview" role="menu" data-accordion="true">
          <li class="nav-item">
            <router-link to="/home" class="nav-link" :class="{ 'active elevation-2': menu == 'home' }">
              <i class="nav-icon fas fa-home"></i>
              <p>Home</p>
            </router-link>
          </li>
          <li class="nav-item">
            <router-link to="/posts" class="nav-link" :class="{ 'active elevation-2': menu == 'posts' }">
              <i class="nav-icon fas fa-file"></i>
              <p>Post</p>
            </router-link>
          </li>
          <li class="nav-item has-treeview" @click="toggleOpen">
            <a href="#" class="nav-link" :class="{ 'active elevation-2': menu == 'about', active: menu == 'menu' }">
              <i class="nav-icon fas fa-book"></i>
              <p>
                Pages
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <router-link to="/about" class="nav-link" :class="{ active: menu == 'about' }">
                  <i class="far fa-circle nav-icon"></i>
                  <p>About</p>
                </router-link>
              </li>
            </ul>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <router-link to="/menu" class="nav-link" :class="{ active: menu == 'menu' }">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Menu</p>
                </router-link>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </aside>
</template>

<script>
export default {
  methods: {
    setActiveClassToggle(event) {
      let aNavLinkTreeView = event.target.parentNode.parentNode.parentNode.childNodes[0];
      aNavLinkTreeView.classList.add("active");
    },
    toggleOpen(event) {
      if (event.target.parentNode.classList.contains("menu-open")) {
        event.target.parentNode.classList.remove("menu-open");
      } else {
        event.target.parentNode.classList.add("menu-open");
      }
    },
  },
  computed: {
    userFullName: function() {
      if (this.$store.state.auth.user) {
        return this.$store.state.auth.user.name;
      }
    },
    menu: function(event) {
      return this.$route.name;
    },
  },
};
</script>
