<template>
  <div class="content-wrapper">
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Post Page</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item">
                <router-link to="/home">Home</router-link>
              </li>
              <li class="breadcrumb-item">Post</li>
              <li class="breadcrumb-item active">Tambah Data Baru</li>
            </ol>
          </div>
        </div>
      </div>
    </section>
    <section class="content col-md-6">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Post</h3>
          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="maximize">
              <i class="fas fa-expand"></i>
            </button>
            <router-link to="/posts">
              <button type="button" class="btn btn-tool">
                <i class="fas fa-times"></i>
              </button>
            </router-link>
          </div>
        </div>
        <form @submit.prevent="save">
          <div class="card-body">
            <div class="form-group">
              <label for="title">Title</label>
              <input type="text" class="form-control" id="title" name="title" v-model="post.title" placeholder="Judul Post" />
            </div>
            <div class="form-group">
              <label for="content">Content</label>
              <textarea name="content" v-model="post.content" class="form-control" id="" cols="30" rows="4"></textarea>
            </div>
          </div>

          <div class="card-footer">
            <button type="submit" class="btn btn-primary">Simpan</button>
          </div>
        </form>
      </div>
    </section>
  </div>
</template>
<script>
export default {
  data() {
    return {
      post: {
        title: "",
        content: "",
      },
    };
  },
  methods: {
    save: function(event) {
      axios.post("/api/post/store", this.post).then((response) => {
        console.log(response);
      });
    },
  },
};
</script>
