<template>
  <div class="content-wrapper">
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Post Page</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><router-link to="/home">Home</router-link></li>
              <li class="breadcrumb-item active">Post Page</li>
            </ol>
          </div>
        </div>
      </div>
    </section>
    <section class="content">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title"><i class="fa fa-question-circle"></i>&nbsp;Post</h3>

          <div class="card-tools">
            <router-link to="/post" class="btn btn-tool" title="Muat Ulang">
              <i class="fa fa-recycle"></i>
            </router-link>
            <router-link to="/posts/create" class="btn btn-primary" title="Tambah Data Baru">
              <i class="fa fa-plus"></i>
            </router-link>
          </div>
        </div>
        <div class="card-body">
          <span v-if="isLoading == true" v-bind:class="isError ? 'alert alert-danger elevation-2' : ''"> {{ isLoadingLabel }}</span>
          <transition v-else>
            <ul v-if="posts">
              <li v-for="(post, index) in posts" :key="index">{{ post.title }}</li>
            </ul>
          </transition>
        </div>
        <div class="card-footer">
          Footer
        </div>
      </div>
    </section>
  </div>
</template>

<script>
export default {
  data: function() {
    return {
      isLoading: false,
      isLoadingLabel: "Loading...",
      isError: false,
      posts: Object,
    };
  },
  methods: {
    getPost: function() {
      this.isLoading = true;
      axios
        .get("/api/posts")
        .then((response) => {
          this.isLoading = false;
          this.posts = response.data;
        })
        .catch((error) => {
          this.isError = true;
          this.isLoadingLabel = "Sepertinya ada masalah dalam pengambilan data. Coba beberapa saat lagi.";
        });
    },
  },
  mounted() {
    this.getPost();
  },
};
</script>
